# Ignore Compiler Stuff
/sourcemod/scripting/**

# Keep Only These
!/sourcemod/scripting/include/
!/sourcemod/scripting/include/sfh_chatlib.inc
!/sourcemod/scripting/sfhcl/
!/sourcemod/scripting/sfhcl/sfh_morecolors.sp
!/sourcemod/scripting/sfh_chatlib.sp
!/sourcemod/scripting/sfh_chatlib_tests.sp
